{% extends 'base.html' %}

{% block content %}
  <h2>login</h2>
  <form method="post">
  {% csrf_token %}
    <p>
      <label for="id_username">Username:</label><br>
      <input type="text" id="id_username" name="username">
    </p>
    <p>
      <label for="id_password">Password:</label><br>
      <input type="password" id="id_password" name="password">
    </p>
    <button type="submit">login</button>
  </form>

  <a class="nav-link" href="{% url 'users:signup' %}">sign up</a>

{% endblock %}
